#margem{
  margin-top:60px !important;
}

.largura{
  width:100% !important;
}

.minHeight{
  height:300px !important;
}


  @media screen and (min-width: 1200px){
  #vaca{
    width:75% !important;

    @media screen and (max-width: 770px){
  #vaca{
    width:100% !important;